<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        table{
            width: 80%;
        }

        table, th, td{
            border: 1px solid #D4E0EE;
            border-collapse: collapse;
            color: #555;
        }

        th, td{
            padding: 5px;
            text-align: center;
        }

        td a:link, td a:visited{
            color: #718ABE;
            text-decoration: none;
        }

        td a:hover {
            text-decoration: underLine;
        }

        table th{
            background-color: #E6EDF5;
            color: #4F76A3;
        }

        table.list tr:nth-child(odd) {
            background-color: #F7F9FC;
        }

    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script th:inline="javascript">
        let token = $("meta[name='_csrf']").attr("content");
        let header = $("meta[name='_csrf_header']").attr("content");
        let boardId = [[${board.id}]]
        let username = [[${username}]]
        $(document).ready(function (){
            $(document).ajaxSend(function (e, xhr, options){
                xhr.setRequestHeader(header, token)
            })
            $.ajax({
                type: 'GET',
                contentType: "application/json",
                url:'/comment?boardId='+boardId,
                success: function(comments){
                    let temp_HTML = ""
                    for(let i = 0; i<comments.length; i++){
                        if(username==comments[i].username) {
                            temp_HTML = `<tr>
                                        <td width="15%" class="title"><strong>${comments[i].username}</strong></td>
                                        <td width="70%" class="comment"><div id="${comments[i].id}"><pre>${comments[i].comment}</pre></div></td>
                                        <td class="btns">
                                            <a class="btn btn-secondary float-end" onclick=deletecomment(${comments[i].id})>삭제</a>
                                            <a class="btn btn-secondary float-end" onclick=updatecommentform(${comments[i].id})>수정</a>
                                        </td>
                                    </tr>`
                        }else{
                            temp_HTML = `<tr>
                                        <td width="15%" class="title"><strong>${comments[i].username}</strong></td>
                                        <td width="70%" class="comment"><div id="id"><pre>${comments[i].comment}</pre></div></td>
                                        <td class="btns">
                                        </td>
                                    </tr>`
                        }
                        $("#comment-list").append(temp_HTML);
                    }
                }
            })
        })


        function deletecomment(id){
            if(confirm('정말로 삭제하시겠습니까?')){
                $.ajax({
                    type: 'DELETE',
                    contentType: "application/json",
                    url: '/comment/' + id,
                    beforeSend: function (xhr) {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
                        xhr.setRequestHeader(header, token);
                    },
                    success: function () {
                        alert("댓글이 삭제되었습니다.")
                        location.reload()
                    }
                })
            }
        }


        function commentCheck(){
            let username = [[${username}]];
            if(username == null){
                if(confirm('로그인이 필요한 서비스입니다. 로그인 페이지로 이동하시겠습니까?')){
                    location.href = "/user/login"
                    return false
                }else{
                    return false
                }
            }else{
                let comment = $("#comments").val()
                if(comment.length==0){
                    alert("댓글을 입력해주세요.")
                }else {
                    $.ajax({
                        type: 'POST',
                        contentType: "application/json",
                        url: '/comment',
                        data: JSON.stringify({
                            "username": username,
                            "comment": comment,
                            "boardId": boardId
                        }),
                        beforeSend: function (xhr) {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
                            xhr.setRequestHeader(header, token);
                        },
                        success: function () {
                            alert("댓글이 작성되었습니다.")
                            location.reload()
                        }
                    })
                }
            }
            return true
        }

        function deleteboard(){
            $.ajax({
                type: 'DELETE',
                contentType: "application/json",
                url: '/board/'+boardId,
                beforeSend: function (xhr) {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
                    xhr.setRequestHeader(header, token);
                },
                success: function (msg) {
                    location.href="/"
                }
            })
        }

        function updatecommentform(id){
            $.ajax({
                type: 'GET',
                contentType: "application/json",
                url: '/comment/'+id,
                beforeSend: function (xhr) {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
                    xhr.setRequestHeader(header, token);
                },
                success: function (comment) {
                    let contents = comment.comment
                    let temp_html = `<td id="updateform">
                                        <textarea style="width:100%;" rows="3" id="updatecomment">${contents}</textarea>
                                     </td>
                                     <td>
                                        <a class="btn btn-secondary" onclick=updatecomment(${id})>수정<br>완료</a>
                                     </td>`
                    $("div#"+id).empty()
                    $("div#"+id).append(temp_html)
                }
            })
        }

        function updatecomment(id){
            let comment = $("#updatecomment").val()
            if(comment.length==0){
                alert("수정할 댓글 내용을 입력해주세요.")
            }else {
                $.ajax({
                    type: 'PUT',
                    contentType: "application/json",
                    url: '/comment/'+id,
                    data: JSON.stringify({
                        "comment": comment
                    }),
                    beforeSend: function (xhr) {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
                        xhr.setRequestHeader(header, token);
                    },
                    success: function (id) {
                        alert("댓글 수정이 완료되었습니다.")
                        location.reload()
                    }
                })
            }
        }

    </script>
</head>
<body>
<div align="center">
    <hr>
    <h2>게시판 상세</h2>
    <hr>
    <br>
    <table border="1">
        <th:block>
            <tr>
                <th width="15%">번호</th>
                <td th:utext="${ board.id }"></td>
                <th width="15%">조회수</th>
                <td th:utext="${ board.viewCnt }"></td>
            </tr>
            <tr>
                <th>등록일</th>
                <td th:text="${ board.createdAt }"></td>
                <th>수정일</th>
                <td th:text="${ board.modifiedAt }"></td>
            </tr>
            <tr>
                <th>제목</th>
                <td colspan="3" th:utext="${ board.title }"></td>
            </tr>
            <tr>
                <th>작성자</th>
                <td colspan="3" th:utext="${ board.name }"></td>
            </tr>
            <tr>
                <th>내용</th>
                <td colspan="3" th:utext="${#strings.replace(board.contents, newLine, '&lt;br /&gt;')}"></td>
            </tr>
        </th:block>
    </table>
    <br>
    <a class="btn btn-outline-info" th:if="${username == board.name}" onclick="deleteboard()">삭제</a>
    <a class="btn btn-outline-info" href="/">목록</a>
    <table class="comment-input">
        <tr>
            <td width="15%" class="title"><strong>댓글</strong></td>
            <td class="comments"><textarea style="width:100%;" rows="3" id="comments" placeholder="댓글을 입력하세요."></textarea></td>
            <td width="8%" class="comment-btn"><a class="btn btn-secondary" onclick="commentCheck()">댓글<br>작성</a></td>
        </tr>
    </table>
    <table id="comment-list">

    </table>
</div>
</body>
</html>